name: Documentation

on:
  push:
    branches:
      - main
    tags: [v*]
  pull_request:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: write
      pages: write
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set up Julia
        uses: julia-actions/setup-julia@v1.5
        with:
          version: '1.6'

      - name: Install dependencies
        run: julia --project=docs -e 'using Pkg; Pkg.instantiate();'

      - name: Build documentation
        run: julia --project=docs docs/make.jl

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build  # The directory where the generated docs are located
